<h1>The crystal ball knows all...</h1>

<%= @client_question %>
<h3>- You</h3>

<%= @server_answer %>
<h3>- Your Coach</h3>

<%= link_to "The crystal ball beckons... ask her again... if you dare...", ask_path %>
