<h1>Ask the crystal ball anything and unto you I shall reveal your future...</h1>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
